@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

:root{
    /*Colors*/
    --colors1: #E9EAF0;
    --colors2: #F5F5F5;
    --colors3: #16171A;

    /*Dark colors*/
    /*--colors1: #121212;
    --colors2: #282828;
    --colors3: #E9EAF0;*/


    /*background chat*/
    --background-color_chat: var(--colors1);
    --height_chat: 500px;

    /*Person Container*/
    --background-color_personcontainer: var(--colors2);
    --padding_medium : 1rem;
    --padding_large: 2rem 4rem;
    --shadowbox: 0 4px 4px rgba(0, 0, 0, 0.1);

    /* Border Radius*/
    --BorderRadius_rond: 50px;
    --BorderRadius_rect: 5px;
}

/*Not REQUIRE*/
#resume{
    width: 60%;
    margin: 4rem auto;
}

/*Not REQUIRE*/
#resume h1{
    font-size: 5vmax;
}

.person-container {
    display: flex;
    align-items: flex-start;
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    cursor: pointer;
    color: var(--colors3);
}

.person-container.message-enter {
    opacity: 1;
    transform: translateY(0);
}

.chat {
    height: var(--height_chat);
    overflow-y: auto;
    background-color: var(--background-color_chat);
}

.person-container {
    transition: background-color 0.5s ease-out;
    margin: var(--padding_large);
}

.left-container {
    display: inline-block;
    vertical-align: top;

}

.avatar-img {
    cursor: pointer;
    border-radius: var(--BorderRadius_rect);
    width: 80px;
    height: 80px;
    margin: var(--padding_medium);
    box-shadow: var(--shadowbox);
}

.center-container {
    display: inline-block;
    vertical-align: top;
    margin: var(--padding_medium);
    padding: var(--padding_medium);
    background-color: var(--background-color_personcontainer);
    transition: background-color 0.5s ease-out;
    border-radius: var(--BorderRadius_rect);
    box-shadow: var(--shadowbox);
}

@media only screen and (max-width: 600px) {
    :root{
        --padding_medium : 0.5rem 1rem;
        --padding_large: 1rem 2rem;
    }
    .person-container {
        text-align: left;
        font-size: small;
    }

    .left-container {
        margin-bottom: var(--padding_medium);
    }

    .center-container {
        margin: 0.5rem;
    }
    .avatar-img {
        width: 30px;
        height: 30px;
    }

}
